<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mybatis.MainMapper">
	<select id="itemList" resultType="kr.smhrd.model.itemVO">
		select * from items order by item_num
	</select>
	
	<select id="itemContent_item" parameterType="int" resultType="kr.smhrd.model.itemVO" >
		select * from items where item_num=#{item_num}
	</select>
	
	<select id="itemContent_ingre" parameterType="int" resultType="kr.smhrd.model.ingredientVO" >
		select * from ingredients where item_num=#{item_num}
	</select>
	
	<insert id="userInsert" parameterType="kr.smhrd.model.UserVO">
		insert into users(user_id,user_pwd,user_name,user_gender,user_age) 
		values(#{user_id},#{user_pwd},#{user_name},#{user_gender},#{user_age})
	</insert>
	
	<select id="itemSearch" parameterType="String" resultType="kr.smhrd.model.itemVO">
		select * from items where item_name like CONCAT('%',#{item_name},'%') order by item_num
	</select>
	
	<insert id="cartInsert" parameterType="kr.smhrd.model.cartVO">
		insert into carts(user_num,item_num,cart_cnt) 
		values(#{user_num},#{item_num},#{cart_cnt})
	</insert>
	
	<select id="cartView" parameterType="int" resultType="kr.smhrd.model.cartViewVO">
		select i.item_num, i.item_name, i.item_company, i.item_price, i.item_imgurl, c.cart_cnt, c.user_num from carts c, items i where user_num=#{user_num} and c.item_num = i.item_num
	</select>
	
	<select id="login_user" parameterType="kr.smhrd.model.UserVO" resultType="kr.smhrd.model.UserVO">
		select * from users where user_id=#{user_id} and user_pwd=#{user_pwd}
	</select>
	
	<select id="login_seller" parameterType="kr.smhrd.model.sellerVO" resultType="kr.smhrd.model.sellerVO">
		select * from sellers where seller_id=#{seller_id} and seller_pwd=#{seller_pwd}
	</select>
	
	
	<select id="id_check" parameterType="kr.smhrd.model.UserVO" resultType="kr.smhrd.model.UserVO">
		select * from users where user_id=#{user_id}
	</select>
	
	<insert id="sellerInsert" parameterType="kr.smhrd.model.sellerVO">
		insert into sellers(seller_id,seller_pwd,seller_phone,seller_bnum) 
		values(#{seller_id},#{seller_pwd},#{seller_phone},#{seller_bnum})
	</insert>
	
	<select id="sellerid_check" parameterType="kr.smhrd.model.sellerVO" resultType="kr.smhrd.model.sellerVO">
		select * from sellers where seller_id=#{seller_id}
	</select>



</mapper>