:root {
  --primary: #ffcc80;
  --bg-dark: #121212;
  --bg-darker: #212121;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Anton', sans-serif;
  color: #FFF;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: var(--bg-darker);
}
section:nth-of-type(odd) {
  background: var(--bg-dark);
}

.btn-lg {
  font-size: 2.5rem;
}

.btn-line {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFF;
  padding-left: 50px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
}
.btn-line .inner {
  position: relative;
  z-index: 1;
}
.btn-line:before, .btn-line:after {
  content: '';
  display: block;
  background-color: var(--primary);
  position: absolute;
}
.btn-line:before {
  top: 50%;
  width: 40px;
  height: 2px;
  left: -0.5rem;
  margin-top: -1px;
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
}
.btn-line:after {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-line:hover {
  text-decoration: none;
  padding-left: 1rem;
}
.btn-line:hover:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-line:hover:after {
  width: 100%;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}

.btn-line-outline {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  -webkit-text-stroke: 0.02em #FFFFFF;
  text-stroke: 0.02em #FFFFFF;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  padding-left: 50px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
}
.btn-line-outline:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  left: -0.5rem;
  background-color: var(--primary);
  margin-top: -1px;
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
}
.btn-line-outline .inner {
  position: relative;
  z-index: 1;
}
.btn-line-outline .inner:after {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-stroke: 0.02em var(--primary);
  text-stroke: 0.02em var(--primary);
  -webkit-text-fill-color: var(--primary);
  text-fill-color: var(--primary);
  color: var(--primary);
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-line-outline:hover {
  text-decoration: none;
  padding-left: 1rem;
}
.btn-line-outline:hover:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-line-outline:hover .inner:after {
  width: 100%;
  height: 100%;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
